---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { useTranslations, type Lang } from "@/lib/i18n";
import { worksEn } from "@/lib/consts";
import { Image } from "astro:assets";
import Figure from "@/components/Figure.astro";

const locale = Astro.currentLocale as Lang;
const t = useTranslations(locale);

const title = t({
  en: "WordWise",
  ja: "ワードワイズ",
});

const wordWiseDescription = worksEn.find(
  (work) => work.title === "WordWise",
)?.description;

const wordWiseDetails = {
  Role: "Researcher & Writer",
  Platform: "Windows",
  "Tech Stack": "Windows Presentation Format (WPF), C# .NET Framework 4.8",
};
---

<BaseLayout {title}>
  <!-- <div class="relative border p-6">
    <span class="absolute -top-3 left-4 bg-hool-white-100 px-2 font-bold"
      >Heading</span
    >
    <p>This is the content inside the div.</p>
  </div> -->

  <section class="mb-4">
    <div>
      <h1
        class="text-2xl font-bold text-hool-turquoise-300 dark:text-ak-blue md:text-3xl"
      >
        WordWise
      </h1>
      <p class="font-semibold md:text-xl">{wordWiseDescription}</p>
    </div>
    <ul class="mt-5 flex flex-col gap-4">
      {
        Object.entries(wordWiseDetails).map(([key, value]) => (
          <li>
            <span class="rounded-sm bg-hool-turquoise-100 px-1 py-0.5 text-center text-sm text-hool-turquoise-500 dark:bg-ak-blue-two dark:text-neutral-50 md:text-base">
              [{key}]
            </span>
            <span class="block text-sm md:text-base">{value}</span>
          </li>
        ))
      }

      <li>
        <span
          class="rounded-sm bg-hool-turquoise-100 px-1 py-0.5 text-center text-sm text-hool-turquoise-500 dark:bg-ak-blue-two dark:text-neutral-50 md:text-base"
        >
          [Source]
        </span>
        <a
          href="https://github.com/LyanHeng/DeepLearningTranslationApp"
          class="block text-sm text-hool-turquoise-300 underline underline-offset-1 hover:text-hool-turquoise-400 dark:text-ak-blue dark:hover:text-ak-blue-two md:text-base"
          target="_blank"
          rel="noopener noreferrer"
          >github.com/LyanHeng/DeepLearningTranslationApp
          <span class="inline-block w-[0.9em]">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="100%"
              height="100%"
              viewBox="0 0 16 16"
            >
              <path
                fill="currentColor"
                d="M3.75 2h3.5a.75.75 0 0 1 0 1.5h-3.5a.25.25 0 0 0-.25.25v8.5c0 .138.112.25.25.25h8.5a.25.25 0 0 0 .25-.25v-3.5a.75.75 0 0 1 1.5 0v3.5A1.75 1.75 0 0 1 12.25 14h-8.5A1.75 1.75 0 0 1 2 12.25v-8.5C2 2.784 2.784 2 3.75 2m6.854-1h4.146a.25.25 0 0 1 .25.25v4.146a.25.25 0 0 1-.427.177L13.03 4.03L9.28 7.78a.751.751 0 0 1-1.042-.018a.751.751 0 0 1-.018-1.042l3.75-3.75l-1.543-1.543A.25.25 0 0 1 10.604 1"
              ></path>
            </svg>
          </span>
        </a>
      </li>
    </ul>
  </section>

  <div class="h-0.5 bg-hool-white-300 dark:bg-ak-black-300"></div>

  <section class="mt-4">
    <div>
      <p>
        A Google Translate desktop app interface that can be used to mass
        translate .txt and .pdf files. Used to apply Metamorphic Testing to test
        the limitations of machine translation.
      </p>

      <Figure
        imagePath="/src/assets/works/wordwise_01.jpg"
        altText="WordWise app screenshot"
        imageClass="rounded-none"
        figureClass="my-5"
        title="WordWise main translation screen"
      />

      <Figure
        imagePath="/src/assets/works/wordwise_02.jpg"
        altText="WordWise multi-document translation page"
        imageClass="rounded-none"
        figureClass="my-5"
        title="WordWise multi-document translation screen"
      />
    </div>
  </section>
</BaseLayout>
