---
// Link UI to switch another locale.
// If you support only 2 locales, this style is useful.

import { LOCALES } from "@/lib/i18n";
import { getRelativeLocaleUrl } from "astro:i18n";
import { GlobeIcon } from "@radix-ui/react-icons";

console.assert(
  Object.keys(LOCALES).length === 2,
  "The number of locale settings is not 2. This UI only supports switching between 2 languages.",
);

const anotherLang =
  Astro.currentLocale === Object.keys(LOCALES)[0]
    ? Object.keys(LOCALES)[1]
    : Object.keys(LOCALES)[0];
---

<a
  href={getRelativeLocaleUrl(
    anotherLang,
    Astro.url.pathname.replace(/^\/[a-zA-Z-]+/, ""),
  )}
  class="inline-block bg-neutral-400 bg-opacity-10 p-0.5 text-center opacity-70 hover:opacity-100 dark:bg-[#161616]"
>
  <GlobeIcon className="m-0 inline-block p-0 align-middle" />
  {LOCALES[anotherLang].label}
</a>
