---
// Alerts the user that the page is only available in a specific language

import { useTranslations, type Lang } from "@/lib/i18n";
import { NOT_TRANSLATED_CAUTION } from "@/lib/consts";
import { WarningIcon } from "@/components/ui/icons";

interface Props {
  usedLangs: Lang[];
}

const t = useTranslations(Astro.currentLocale as Lang);
const { usedLangs } = Astro.props;
const currentLocale = Astro.currentLocale as Lang;
---

{
  !usedLangs.includes(currentLocale) && (
    <p class="mb-3 flex items-center justify-center rounded-md bg-red-700 p-2 text-xl text-white">
      <WarningIcon className="inline-block w-5 h-5 mr-4" />
      {t(NOT_TRANSLATED_CAUTION)}
    </p>
  )
}
