---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import seahorseKnight from "@/assets/seahorse_knight.jpg";
import { GithubIcon, MdiLinkedin, TwitterXIcon } from "@/components/ui/icons";

const title = "About me";
---

<BaseLayout {title}>
  <h2 class="text-2xl font-bold text-black dark:text-hool-white-100">
    ABOUT ME
  </h2>

  <section class="mt-3 leading-relaxed">
    <div
      class="flex flex-col-reverse items-center justify-center text-justify md:flex-row"
    >
      <p class="md:mr-10">
        My name is Danny Bao. I'm still a green-horn developer but I love web
        development. I am passionate about front-end design and want to know
        more about the back-end. I'm currently based in Australia (where I was
        born) and plan on finding work as a Software Developer.
      </p>
      <div class="mb-5 md:mb-0">
        <Image
          src={seahorseKnight}
          alt="Seahorse Knight"
          class="border-4 shadow-md"
        />
      </div>
    </div>

    <p class="mt-3 text-justify">
      I love making things and want to bring more good things to the world.
      Things that are designed well aesthetically and simplify the complex into
      the simple.
    </p>

    <p class="mt-3 text-justify">
      When I'm not working on the web you can find me playing video games,
      listening to music and studying Japanese. I'm always happy to chat and
      talk more about the things I do or don't know.
    </p>
  </section>

  <h3 class="mt-12 text-xl font-bold text-black dark:text-hool-white-200">
    Biography
  </h3>

  <div class="mt-3 grid grid-cols-8 leading-relaxed">
    <span
      class="col-span-1 font-semibold text-hool-turquoise-300 dark:text-ak-blue"
      >2001</span
    >
    <span class="col-span-7"> Born in Melbourne, Australia</span>
    <span
      class="col-span-1 font-semibold text-hool-turquoise-300 dark:text-ak-blue"
      >2023</span
    >
    <span class="col-span-7"
      >Completed the Bachelor of Computer Science (Software Development) Course
      at Swinburne University of Technology, Melbourne</span
    >
    <span
      class="col-span-1 font-semibold text-hool-turquoise-300 dark:text-ak-blue"
      >2024</span
    >
    <span class="col-span-7">Unemployed (無職)</span>
  </div>

  <h3 class="mt-12 text-xl font-bold text-black dark:text-hool-white-200">
    On the web
  </h3>

  <ul class="mt-5">
    <li>
      <a
        href="https://github.com/ponktoku"
        class="bg-hool-turquoise-400 p-2 text-black transition-colors after:content-['_↗'] hover:bg-black hover:text-white dark:bg-ak-blue dark:text-white dark:hover:bg-white dark:hover:text-black"
        target="_blank"
        rel="noopener noreferrer"
      >
        <GithubIcon className="inline" />
        <span>Github</span>
      </a>
    </li>
    <li class="mt-5">
      <a
        href="https://www.linkedin.com/in/danny-bao/"
        class="bg-hool-turquoise-400 p-2 text-black transition-colors after:content-['_↗'] hover:bg-black hover:text-white dark:bg-ak-blue dark:text-white dark:hover:bg-white dark:hover:text-black"
        target="_blank"
        rel="noopener noreferrer"
      >
        <MdiLinkedin className="inline" />
        <span>LinkedIn</span>
      </a>
    </li>
    <li class="mt-5">
      <a
        href="https://x.com/ponktokuDotDev"
        class="bg-hool-turquoise-400 p-2 text-black transition-colors after:content-['_↗'] hover:bg-black hover:text-white dark:bg-ak-blue dark:text-white dark:hover:bg-white dark:hover:text-black"
        target="_blank"
        rel="noopener noreferrer"
      >
        <TwitterXIcon className="inline" />
        <span>Twitter</span>
      </a>
    </li>
  </ul>
</BaseLayout>
