---
import ThemeDropdown from "./theme-dropdown";
---

<header>
  <div>
    <span>ponktoku.dev</span>

    <nav>
      <ul>
        <li>
          <a href="">Writing</a>
        </li>
        <li>
          <a href="">Notes</a>
        </li>
      </ul>
    </nav>

    <div>
      <ThemeDropdown client:load />
    </div>
  </div>
</header>
