---
import { cn } from "@/lib/utils";

interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<div
  class={cn(
    "prose max-w-screen-md prose-neutral dark:prose-invert dark:prose-inline-code:bg-[#262626] dark:prose-inline-code:border-[#3f3f46] prose-inline-code:bg-hool-white-200 prose-inline-code:border prose-inline-code:rounded-sm prose-inline-code:p-0.5 prose-inline-code:border-hool-white-300 prose-p:text-hool-text prose-p:dark:text-ak-black-500 prose-ul:dark:text-ak-black-500 prose-ol:dark:text-ak-black-500 prose-a:dark:text-ak-blue prose-a:text-hool-turquoise-300 hover:prose-a:dark:text-ak-blue-two hover:prose-a:text-hool-turquoise-400 font-sans",
    className,
  )}
>
  <slot />
</div>
