---
import { cn } from "@/lib/utils";

interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<div
  class={cn(
    "prose prose-neutral dark:prose-invert prose-inline-code:dark:bg-ak-blue-two prose-inline-code:bg-hool-turquoise-500 prose-p:text-hool-text prose-p:dark:text-ak-black-500 prose-ul:dark:text-ak-black-500 prose-ol:dark:text-ak-black-500 prose-a:dark:text-ak-blue prose-a:text-hool-turquoise-300",
    className,
  )}
>
  <slot />
</div>
