---
import { cn } from "@/lib/utils";

interface Props {
  headings: {
    depth: number;
    slug: string;
    text: string;
  }[];
}

const { headings } = Astro.props;

const validHeadings = headings.filter(
  (heading) => heading.depth === 2 || heading.depth === 3,
);
---

<ul>
  {
    validHeadings.map((heading) => (
      <li class="my-2 text-sm underline decoration-hool-white-200 underline-offset-4 dark:decoration-ak-black-300">
        <a
          class={cn(
            "inline-block rounded-sm transition hover:bg-hool-white-200 hover:text-black hover:no-underline dark:hover:bg-[#262626] dark:hover:text-white",
            { "ml-2": heading.depth === 3 },
          )}
          href={`#${heading.slug}`}
        >
          {decodeURIComponent(heading.text.split("Section titled ")[0].trim())}
        </a>
      </li>
    ))
  }
</ul>
