---
import { cn } from "@/lib/utils";
import { cva, type VariantProps } from "class-variance-authority";

type Props = {
  tags: string[];
};

const { tags } = Astro.props;
---

<li>
  <a href=""></a>
</li>
